*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(300deg, #ced1d6,#bfc0c0); 
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
input {
background-color: #fff;
border: none;
border-radius: 15px;
font-size: 1re;
box-shadow: 0 4px rgba(0, 0, 0, 0.1);
font-family: 'Courier New', Courier, monospace;
padding: 1rem;
min-width: 300px;


}

input:focus{
    outline: none;
}
.weather{
    font-size: 2rem;
    text-align: center;
}
.weather h2{
    align-items: center;
    display: flex;
    margin-bottom: 0;
}
